name: Deploy

on:
  push:
    branches: ["main"] # Executa ao fazer push na main

permissions:
  contents: read
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload arquivos estáticos
        uses: actions/upload-pages-artifact@v3

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy para GitHub Pages
        uses: actions/deploy-pages@v4
